@font-face {
  font-family: 'League Spartan';
  src: url('LeagueSpartan-Bold.otf');
}

h1 {
  font-family: 'League Spartan';
}

.container {
	min-height: 2000px;
}

.todo-item {
	margin-bottom: 10px;
}

/* Text input styling */
input[type="text"] {
	border: none;
	border-bottom: 1px solid black;
	background: rgba(0, 0, 0, 0);
}

input[type="text"]:focus {
	outline: none;
}

/* Grid checkbox styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
	margin-right: 25px;
  cursor: pointer;
  color: #303030;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0;
	bottom: 0; right: 0;
  width: 14px; height: 14px;
  border: 1px solid #303030;
  background: rgba(30, 177, 173, 0);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 0; left: 0px;
	bottom: 0; right: 0;
  width: 15px; height: 15px;
  font-size: 14px;
  color: #303030;
  background-color: #303030;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
